.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 55px;
  color: white;
}

.App-title {
  font-size: xx-large;
}

.App-intro {
  font-size: large;
}

